*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1A2126;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fdfdfd;

}

.titulo-pagina{
    text-align: center;
}

h2{
    text-align: center;
}

.escolha-time-block{
    display: flex;
    justify-content: space-around;
    width: 1200px;
}

label{
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.area-jogo{
    background-color: #178F1B;
    height: 300px;
    max-width: 800px;
    margin-top: 20px;
    border: 7px solid #fdfdfd;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 5px #0000002c;
}

.botao-confirmar{
    margin-top: 35px;
    width: 100px;
}

input{
    color: #1A2126;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
}

.area-jogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.semi-final{
    width: 200px;
    height: 200px;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.final{
    height: 100px;
    width: 300px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-number{
    border: none;
    width: 100px;
    text-align: center;
    padding-left: 10px;
}

.esquerda{
    border-right: 3px solid white;
    align-items: start;

}

.direita{
    border-left: 3px solid white;
    align-items: end;

}

.label-input-jogo label{
    font-size: 15px;
}

#trofeu{
    height: 70px;
    cursor: pointer;
}


.label-input-block div {
    display: flex;
}
.color-input{
    border-radius: 0px 5px 5px 0px;
    padding: 0;
    height: 40px;
    border: 1px solid #fdfdfd;
}

::-moz-color-swatch {
    border: none;
}

#form{
    width: 1200px;
}

.modal-content{
    background-color: #1A2126;
}
.modal-body{
    display: flex;
    justify-content: space-between;
}
.modal-body input{
    text-align: center;
}

#liveAlertPlaceholder{
    color: black!important;
}

#confimar-mobile-cima, #confimar-mobile-baixo{
    display: none;
}


@media(max-width: 900px){
    *{
        max-width: 100%;
    }

    .escolha-time-block{
        flex-wrap: wrap;
        max-height: none;
    }

    .label-input-block input{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .area-jogo{
        width: 330px;
        height: 650px;
        flex-direction: column;
    }

    .esquerda{
        border-left: 3px solid #fdfdfd;
        border-top: 0px;
        flex-direction: row;
        border-bottom: none;
        
    }
    #confimar-direito-desktop, #confimar-esquerdo-desktop{
        display: none;
    }

    .semi-final{
        width: 350px;
    }

    .mobile-position{
        display: flex;
        flex-direction: column-reverse;
    }

    .direita{
        border-top: none;
        border-bottom: none;
        border-right: 3px solid #fdfdfd;
        flex-direction: row;
    }

    #confimar-mobile-cima, #confimar-mobile-baixo{
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
    }

}
