* {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue!important;
}

.pagina {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco {
    background-color: white;
    width: 900px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.263);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bloco h1 {
    text-align: center;
}

#meuForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#meuForm button {
    margin-top: 10px;
    width: 80px;
}


